* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.display-1 {
    width: 250px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 10px;
}


.buttons-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button-1 {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 21px;
}

.two-colums {
    grid-column: span 2;
}